.card-plain {
  background: transparent;
  box-shadow: none;
  border: solid 0.5px grey;
  padding: 5px;

  .card-header,
  .card-footer {
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
  }

  &:not(.card-subcategories).card-body {
    padding-left: 0;
    padding-right: 0;
  }
}
.card-plain1 {
  background: rgba(24, 26, 86, 0.9);
  box-shadow: none;
  border: solid 0.5px grey;
  padding: 5px;

  .card-header,
  .card-footer {
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 0.644);
  }
}
